footer{
    margin-bottom: 0;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
    height: 180px;
    margin-top: auto;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

input {
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

input:focus {
    outline: none;
    border-color: rgb(221, 14, 14);
}
.center {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
.radioCustom {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

.uploadCustom {
    font-size: 20px;
}

.uploadCustom::-webkit-file-upload-button{
    border-radius: 50px;
    border-style: solid;
}


/* General styles */
body {
    background-color: #F9FAFB;
}

/* Header styles */
.header {
    position: sticky;
    top: 0;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 100;
    ;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.logo-img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header .logo-text {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.header a {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.nav-link {
    font-size: 10px;
    font-weight: 600;
    color: #4B5563;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #6B7280;
}

.btn {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    color: white;
    transition: background-color 0.2s;
}

.btn-signup {
    background-color: #3B82F6;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;

}

.btn-signup:hover {
    background-color: #2563EB;

}

.btn-login {
    background-color: #6B7280;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;

}

.btn-login:hover {
    background-color: #4B5563;
}

/* Promo section styles */
.promo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.promo-text-container {}

.promo-text,
#yellow {
    font-size: 35px;
    color: black;
    width: 200px;
    font-family: 'Roboto', sans-serif;
}

.promo-text-small {
    margin-top: 30px;
    font-size: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.promo-img {
    width: 400px;
    height: 250px;
    margin-left: -130px;
   
}

#yellow {
    background-color: rgb(229, 233, 28);
    padding-right: 40px;
    padding-left: 10px;
    overflow: visible;
    transform: rotate(-5deg);
}

/* Search bar styles */
.search-bar {
    padding: 25px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #00060f;
    border-radius: 20px;
    width: 500px;
    background: url('/static/images/search.gif') no-repeat right center;
    background-size: 20px 20px;
    background-position: 95%;
}


.main-content {
    padding: 1.5rem;
}

.stores-section,
.sections {
    margin-top: 1.5rem;
    padding: 1.5rem 1.5rem 3rem;
    background-color: #E0E7FF;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    ;
}

.stores-section:hover,
.sections:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.section-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.stores-container,
.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    width: 70%;
    flex-wrap: wrap;

}


.item,
.category {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    width: 210px;
    height: 130px;
    overflow: hidden;
}

.item:hover,
.category:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-img {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.item-title,
.category-title {
    font-size: 20px;
    font-weight: 600;
}

.item-text,
.category-text {
    font-size: 10px;
    color: #6B7280;
}

/* Footer styles */
.footer1,
.header {
    background-color: rgb(31 41 55);
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-menu,
.footer1 {
    color: white;
}

.footer-links {
    display: flex;
    column-gap: 10px;
}

.footer-link {
    text-decoration: underline;
}

.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #3B82F6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
    transition: all 0.3s ease;
}

.category-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.category-title {
    font-size: 25px;
}

.category-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
