<!doctype html>
<link rel="stylesheet" type="text/css" href="style.css">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/storePage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image" href="{% static 'images/icon.png' %}" />
    <title>Store Details</title>
</head>

<body class="bg-gray-50">
    <nav class="header">
        <div class="logo-container">
            <img src="{% static 'images/iconWomen.jpg' %}" class="logo-img">
            <a class="logo-text" href="{% url 'vendor:index' %}">Vendors website</a>
        </div>
        <div class="nav-links">
            <a href="{% url 'stores:new' %}" class="nav-link">Add store</a>
            <a href="{% url 'my_store:index' %}" class="nav-link">My store</a>
            <a href="{% url 'vendor:reviewInbox' %}" class="nav-link">Reviews</a>
            {% if request.user.is_authenticated %}
            <form action="{% url 'vendor:logout' %}" method="post">{% csrf_token%}
                <button type="submit" value="Logout" class="btn btn-login bg-red-500 hover:bg-red-700 transition duration-300 ease-in-out "> Logout</button>
            </form>
            {% else %}
            <a href="{% url 'vendor:signup' %}" class="btn btn-signup">Sign up</a>
            <a href="{% url 'vendor:login' %}" class="btn btn-login">Log in</a>
            {% endif %}
        </div>
    </nav>
    <div class="main-container">
        <h1 class="store-name"><b>{{store.name}} Store</b></h1>
        <div class="">
            <!--<div class="grid grid-cols-5 gap-6">-->
            <div>
                <div class="store-detail-container">
                    <div class="store">
                        <img src="{{store.image.url}}" class="store-image">
                        <p class="store-text">{{store.item1name}}</p>
                    </div>
                    <div class="store">
                        <img src="{{store.image1.url}}" class="store-image">
                        <p class="store-text">{{store.item2name}}</p>
                    </div>
                    <div class="store">
                        <img src="{{store.image2.url}}" class="store-image">
                        <p class="store-text">{{store.item3name}}</p>
                    </div>


                </div>
                <div class="about-section">

                    {% if store.description %}
                    <h1 class="about">About:</h1><br>
                    <p class="text-style1">

                        {{store.description}}
                    </p>
                    {% endif%}
                    <div class="more-info-container">
                        <p class="text-style2">
                            <strong class="text-style3">Price for each {{store.name}}: </strong>${{store.price}}
                        </p>
                        <p class="text-style2">
                            <strong class="text-style3">Type of store:</strong> {{store.category.name}}
                        </p>
                        <p class="text-style2">
                            <strong class="text-style3">Seller: </strong>{{store.created_by.username}}
                        </p>
                        <p class="text-style2">
                            <strong class="text-style3">Contact: </strong>{{store.contact}}
                        </p>
                        <p class="text-style2">
                            <strong class="text-style3">Address: </strong>{{store.address}}
                        </p>
                    </div>

                    <div class="mt-6 p-6 bg-gray-200 rounded-xl shadow-inner text-center">
                        {% if request.user == store.created_by %}
                        <h3 class="text-lg font-semibold text-gray-600">Would you like to edit or delete your
                            {{store.name}} store?.</h3>
                        <a href="{% url 'stores:edit' store.id %}"
                            class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-200">
                            Edit
                        </a>
                        <a href="{% url 'stores:delete' store.id %}"
                            class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-200">
                            Delete
                        </a>
                    </div>
                    {% else %}
                    <a href="{% url 'vendor:reviewNew' store.id %}"
                        class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-indigo-600 text-white rounded-xl hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-200">
                        Leave a review!
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>


    <footer class="footer1">
        <div class="footer-about">
            <h3 class="footer-title">About</h3>
            <p class="footer-text">Vendor promotional website</p>
        </div>

        <div class="footer-menu">
            <h3 class="footer-title">Menu</h3>
            <ul class="footer-links">
                <li><a href="/" class="footer-link">About</a></li>
                <li><a href="/" class="footer-link">Contact</a></li>
                <li><a href="/" class="footer-link">Privacy</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>