<!doctype html>
<link rel="stylesheet" type="text/css" href="style.css">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
        <link rel="stylesheet" href="{% static 'css/configStore.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src ="https://cdn.tailwindcss.com"></script>

        <title>Welcome-- My proj</title>
    </head>

    <body class="bg-gray-50">
        <nav class="header">
            <div class="logo-container">
                <img src="{% static 'images/iconWomen.jpg' %}" class="logo-img">
                <a class="logo-text" href="{% url 'vendor:index' %}">Vendors website</a>
            </div>
            <div class="nav-links">
                <a href="{% url 'stores:new' %}" class="nav-link">Add store</a>
                <a href="{% url 'my_store:index' %}" class="nav-link">My store</a>
                <a href="{% url 'vendor:reviewInbox' %}" class="nav-link">Reviews</a>
                {% if request.user.is_authenticated %}
                <form action="{% url 'vendor:logout' %}" method="post">{% csrf_token%}
                    <button type="submit" value="Logout" class="btn btn-login bg-red-500 hover:bg-red-700 transition duration-300 ease-in-out "> Logout</button>
                </form>
                {% else %}
                <a href="{% url 'vendor:signup' %}" class="btn btn-signup">Sign up</a>
                <a href="{% url 'vendor:login' %}" class="btn btn-login">Log in</a>
                {% endif %}
            </div>
        </nav>
        {% if request.user.is_authenticated %}
        <div class="px-6 py-6 bg-gray-100 min-h-screen flex items-center justify-center">
            <div class="main-form">
                <h1 class="h1-style">{{ title }}</h1>
        
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
        
                    <div class="font-bold">
                        {{ form.as_p }}
                    </div>
        
                    {% if form.errors or form.non_field_errors %}
                        <div class="error-msg">
                            <ul class="list-disc list-inside text-red-600">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
        
                    <button class="button-style">Submit</button>
                </form>
            </div>
        </div>

        {% else %}

        <div class="flex flex-col items-center justify-center h-screen bg-gray-100">
            <div class="max-w-md bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold mb-4 text-center">Access Required</h2>
                <p class="text-lg text-center mb-4">To add a store, you need to log in or create an account.</p>
                <div class="flex justify-center">
                    <a href="{% url 'vendor:login' %}" class="btn btn-login">Log in</a>
                    <a href="{% url 'vendor:signup' %}" class="btn btn-signup">Sign up</a>
                </div>
            </div>
        </div>

        {% endif %}
        

        <footer class="footer1">
            <div class="footer-about">
                <h3 class="footer-title">About</h3>
                <p class="footer-text">Vendor promotional website</p>
            </div>
    
            <div class="footer-menu">
                <h3 class="footer-title">Menu</h3>
                <ul class="footer-links">
                    <li><a href="/" class="footer-link">About</a></li>
                    <li><a href="/" class="footer-link">Contact</a></li>
                    <li><a href="/" class="footer-link">Privacy</a></li>
                </ul>
            </div>
        </footer>
    
    </body>
</html>


