<!doctype html>
<link rel="stylesheet" type="text/css" href="style1.css">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src ="https://cdn.tailwindcss.com"></script>

        <title>Seller | Vendor</title>
    </head>

    <body>
        <nav class="px-6 py-6 flex justify-between items-center border-b border-gray border-2 bg-gray-100">
            <a href="index.html" class="text-xl font-semibold">My django proj</a>

            <div class="space-x-6">
                <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-gray-500">New item</a>
                <a href="{% url 'item:items' %}" class="text-lg font-semibold hover:text-gray-500">Browse</a>
                <a href="{% url 'dashboard:index' %}" class="text-lg font-semibold hover:text-gray-500">Dashboard</a>

                <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">Sign up</a>
                <a href="{% url 'core:login'%}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>

                

            </div>
        </nav>
        <div class="px-6 py-6">
            
            
                <h2 class="mb-12 text-2xl text-center"><u>Items</u></h2>

                <div class="pb-6 px-6 py-6 grid grid-cols-4 gap-4 bg-blue-100">
                    
                    <div class="col-span-1 border-b">
                        <form method="get" action="{% url 'item:items' %}">
                            <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find a bike, a chair or car...">
            
                            <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Search</button>
                        </form>

                        <hr class="my-6">

                        <p class="font-semibold">Categories</p>

                        <ul>
                            {% for category in categories %}
                                <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200 rounded-xl{% endif %}">
                                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <hr class="my-6">

                        <p class="font-semibold">Clear filters</p>

                        <ul>
                            <li><a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a>



                    </div>

                    <div class="col-span-3">
                        <div class="grid grid-cols-3 gap-3">
                    
                            {% for item in items  %}
                                <div > 
                                    <a href="{% url 'item:detail' item.id %}">
                                    <div> 
                                        <img src="{{item.image.url}}" class = "rounded-top card-img-top" style="width:250px;"> 
                                    </div>
        
                                    <div class=" p-6 bg-white rounded-b-xl" style="width: 250px;">
                                        <h2 class="text-2xl card-title">{{item.name}}</h2>
                                        <p class="text-gray-500 card-text">Price: {{item.price}}</p>
                                    </div>
        
                                   
                                    </a>
                        </div>
                       
                        {% endfor %}
                        </div>
                    </div>
                </div>
                
                
       
        </div>
        

        <footer class="px-6 py-6 flex justify-between bg-gray-800">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-semibold text-gray-400">About</h3>

                <p class="text-lg text-gray-500">Vendor promotional website</p>
            </div>

            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
                <ul class="space-y-2">
                    <li><a href="/" class="text-lg text-teal-500 hover:text-yellow-700">About</a> </li>
                    <li><a href="/" class="text-lg text-teal-500 hover:text-yellow-700">Contact</a> </li>
                    <li><a href="/" class="text-lg text-teal-500 hover:text-yellow-700">Privacy</a> </li>
                </ul>
            </div>
        </footer>
    </body>
</html>


